# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# sqlite stuffs
data/
genomes/

# doc stuff which maybe i won't ignore later but for now it's not super useful
docs/

# Coverage info
.nyc_output/
coverage/

ui/dist/bundle.js
src/config/config.js

# Lock files are more of pain in the ass than they're worth in this repo
yarn.lock
package-lock.json